*~
._*
.DS_Store
Thumbs.db

site/*/data/db.sqlite
site/*/cache/*
site/*/logs/*
*-local.ini
nbrproject
nbproject/*

site/Humboldt/themes/humboldt/common/templates/search.tpl
site/Humboldt/data/db.sqlite
.gitignore
site/Humboldt/data/db.sqlite