/* Overall font and colors */

body { font: 14px/1.25em sans-serif; background-image: none; background: #00463D; padding: 0; }
h1 { font-size: 142%;  color: #fff; }
h2 { font-size: 133%;  font-weight: normal; color: #005147; }
h3 { font-size: 100%;  font-weight: bold; color: #005147; }
h4 { font-size: 100%;  font-weight: bold; color: #005147; }

/* Standard navigation at bottom of all Basic pages */

.bottomnav { background-color: #4a4c4f; font-size: 93%; }
.bottomnav a, .bottomnav a:visited { color: #fff;  }

/* Tabs */

.tabs { color: #999; }
.tabs .active {  font-weight: bold; color: #000; }

h1#homelogo img { margin: 0 auto; display: block; }
.nonfocal, .nonfocal .legend, .formlabel { color: #fff; }
.nonfocal p.fontsize { text-align: center; border-top: 1px solid #003E14; margin: 0; padding: 4px 0; }
	.nonfocal p.fontsize a { color: #e5e2b9; }
.inputcombo .submitbutton { background-color: #fff; padding: 1px 10px; border: 1px solid #003E14; color: #003e14; font-size: 93.75%; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.emphasized .forminput { border: 1px solid #003E14; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.nav, .results, .nav a, .nav a:visited, .nav span.nolink, .results a, .results a:visited { color: #003e14; }

#container { padding: 0; margin: 0; }
	#container p#footer { background-image: none; background: transparent; height: 5px; }
	
.bottomnav { background-color: transparent; font-size: 93%; }


.EmergencyModule .focal { padding: 10px; }

.PeopleModule .inputcombo .forminput { margin: 2px 0 0 0px; }

.NewsModule #container p#footer { background: #00463d; }
.NewsModule .nonfocal .fontsize { background: #00463d; }
.NewsModule #container h2 { color: #fff; }


.CalendarModule .nonfocal { background: transparent; padding: 12px 10px 6px 10px; margin: 0; margin-top: 0px; border-top: 1px solid #003E14; border-bottom: 1px solid #003e14; }
.CalendarModule .inputcombo .forminput { margin: 0px 0 0 0px; }
.CalendarModule p#search.nonfocal strong { display: none; }
.CalendarModule p#search.nonfocal br { display: none; }

.ProgramsModule #container { padding: 0; margin: 0; background: #fff; }
.ProgramsModule h2 { padding: 10px; }
.ProgramsModule .nonfocal { background: #00463D; padding: 10px; margin: 0px; }
.ProgramsModule .nonfocal a { color: #fff; }
.ProgramsModule .inputcombo .forminput { margin: 2px 0 0 0px; }

#container .focal { margin: 0; padding: 0; }
#container .focal p { padding: 10px; margin: 0; border-top: 1px solid #b9cac1; }