#header { width: 100%; height: 80px; background: #044531 url(/common/images/compliant/header-bg.jpg) top center no-repeat; }
#header h1 { display: block; margin: 0 auto; padding-top: 14px; width: 230px; }

#container { margin: 0; padding: 0;}
.topsection { background-color: #fff;padding-top: 1px;
}
.AthleticsModule h2.section {border-bottom:solid 1px #999;padding-bottom:10px;}
/*#searchformcontainer { margin: 0; padding: 0 14px; min-height: 50px; background: #044531 url(/common/images/compliant/search-bg.png) top repeat-x; }
	#searchformcontainer .searchwrapper { width: 100%; min-height: 50px; position: relative; background: url(/common/images/compliant/search-bg2.png) center center no-repeat; }*/

/*.nonfocal form {margin-right: 8px; }*/
/*#searchformcontainer { margin: 0; padding: 0 14px; height: 50px; background: #044531 url(/common/images/compliant/search-bg.png) top repeat-x; }
	#searchformcontainer .searchwrapper { width: 100%; height: 50px; position: relative; background: url(/common/images/compliant/search-bg2.png) center center no-repeat; }

.emphasized { margin: 0; }*/
#searchformcontainer .emphasized .forminput { margin: 8px auto 0 auto; display: block; width: 100%; border: 1px solid #00312b; -moz-box-shadow:inset 0 0 10px #003e14; -webkit-box-shadow:inset 0 0 10px #003e14; box-shadow:inset 0 0 10px #003e14; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.forminput {  }
.page-title { background: #00463d; padding: 4px 0; text-align: center; width: 100%; color: #fff; font-family: 'Lucida Grande'; font-weight: bold; font-size: 12pt; }
	
fieldset { margin: 0; }
.inputcombo .combobutton { position: absolute; z-index: 10; top: 13px; right: 10px; width: 27px; height: 26px; }
/*.inputcombo .forminput { margin: 5px 10px 0 10px; }*/
.springboard { overflow: auto; border-bottom: 1px solid #177368; }

#content { padding: 9px 0 10px 0; border-bottom: 1px solid #177368; }

ul.nav li a span { display: block; clear: both; font-size: 8pt; color: #5e5d5d; text-shadow: 0 1px 0 #fff; padding: 4px 0 0 1px; }
		
#search-bg2 { width: 100%; margin: 0 auto; height: 50px; background: url(/common/images/compliant/search-bg2.png) center center no-repeat; }
.pagetitle { /*height: 22px;*/ line-height: 16pt; font-family: 'Lucida Grande' sans-serif; font-weight: normal; /*font-size: 8pt;*/ color: #fff;  padding: 5px 0 6px;  }
.breadcrumbs { background: url(/common/images/compliant/crumbs-top.png) top center no-repeat; width: 100%; }	
/*	.breadcrumbs a img { display: block; float: left; margin-top: 2px;}*/
#additional-input { clear: both; background: #000; height: 50px; }
	
#content-start { width: 100%; height: 22px; background: #fff url(/common/images/compliant/content-top-bg.png) repeat-x; }	
		#content-start-inner { width: 100%; height: 22px; background: url(/common/images/compliant/content-top-bg2.png) top center no-repeat; }	
.content-area { overflow: auto; background: #fff; }	
	.content-area p { padding: 0 10px; }


/*.nonfocal form { margin-left: -4px; margin-right: 8px; }*/
.nav a, .results a, .secondary a, a.ar&raquo;	ow {  }
.nav li.icon a { margin: 0; position: inherit; background-size: 42px 52px; }
#navbar.helpon { padding-right: 0; }
.results li.story { padding: 1px 10px; }
.thumbnail { margin: 0 8px 0 4px; }
	.results li.story a .title { color: #005147; }
.results li.pagerlink { color: #fff; text-align: center; padding: 9px; margin: 2px 10px 4px; border: 1px solid #00312B; -webkit border-radius: 3px; -moz-border-radius: 3px; border-radius: 4px; background: #1e6947; background: -moz-linear-gradient(top,  #1e6947 0%, #00392a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e6947), color-stop(100%,#00392a)); background: -webkit-linear-gradient(top,  #1e6947 0%,#00392a 100%); background: -o-linear-gradient(top,  #1e6947 0%,#00392a 100%); background: -ms-linear-gradient(top,  #1e6947 0%,#00392a 100%); background: linear-gradient(top,  #1e6947 0%,#00392a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6947', endColorstr='#00392a',GradientType=0 ); }
	.results li.pagerlink a { color: #fff; }


/* Springboards */

/* Overall size of one cell in a springboard (grid of icons) */
.springboard div {	
	font-size: 76.5%;	/* Font size of text label below icon */
	line-height: 1.1em;
	/* width: 102px; */   	/* For springboard grid that is 3 icons wide */
	/* height: 90px; */   	/* For springboard grid that is 3 icons wide */
	width: 77px;	/* For springboard grid that is 4 icons wide */
	height: 96px;	/* For springboard grid that is 4 icons wide */
}

.springboard a img {
	/* Size of each standard icon image in a springboard */
	width: 60px;
	height: 60px;
}

.springboard .separator {
	/* Height of extra gap between main and utility-class springboard items */
	height: 10px;
}

/* Overall size of one cell in the springboard's utility-type items */
/* Utility-class modules are typically shown smaller and at the bottom of the springboard */
.springboard div.utility {
	/* width: 102px; */ /* For a 3-wide row of utility icons */
	width: 76px; /* For a 4-wide row of utility icons */
	/* width: 61px; */ /* For a 5-wide row of utility icons */
	height: 86px;
	font-size: 70.6%;
	line-height: 1.1em;
}

.springboard div.utility a img {
	/* Size of each utility-class icon in a springboard */
	width: 36px;
	height: 36px;
}

.springboard .secured {
	/* Overlay image to indicate that a module is password-protected */
	/* Adjust size to fit /common/images/secured.png, and adjust position to fit springboard icon size */
	top: 45px;
	right: 4px;
	width: 18px;
	height: 22px;
}

.springboard .utility .secured {
	/* Adjust position to fit springboard icon size for utility-class module icons */
	top: 26px;
	right: 12px;
}
#navbar {
	height: 45px;
}
.homepage .pagetitle, .module {
	display: inline-block;
	max-width: 210px;
	margin: 8px 0 0 10px;	
	text-transform:capitalize;
	vertical-align: none;
}